.container-title {
    h2 {
        font-size: 35px;
    };
    .paragrafo {
        font-size: 10px;
        text-align: justify;
    }
}
.bg-red {
  background-color: #8e2108!important;
}
.logo {
  width: 60px;
  margin-right: 10px;
}
