<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/image/icona-cibando.png" class="logo" [alt]="label">
        Cibando</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"><i class="pi pi-home"></i>Home</a>
          <a class="nav-link" href="#"><i class="pi pi-book"></i>Ricette</a>
          <a class="nav-link" href="#"><i class="pi pi-user"></i>Contatti</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div *ngIf="images.length === 1">
  <div class="picsum-img-wrapper">
    <img [src]="percorso + images[0].id + '.jpg'" [alt]="images[0].label" />
  </div>
</div>

<ngb-carousel *ngIf="images.length > 1">
<ng-template *ngFor="let image of images" ngbSlide>
<div class="picsum-img-wrapper">
  <img [src]="percorso + image.id + '.jpg'" [alt]="image.label" />
</div>
<div class="carousel-caption">
  <h3>{{image.label}}</h3>
</div>
</ng-template>
</ngb-carousel>

<div class="container-title">
  <h2>App di Esempio di {{nome}}</h2>
  <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque perferendis repellat aperiam ea magni? Voluptatum laborum saepe, ullam atque nulla amet repellat ea quisquam numquam eos ipsam autem quos iste?</p>
</div>

<router-outlet></router-outlet>
