@import "../../../styles/colors.scss";

footer {
  background-color: $primary-color-1!important;
  color: $secondary-color-5;
  height: 300px;
  padding: 20px;
  clear: both;

  .logo {
    width: 80px!important;
    height: 100px!important;
  }

}
